.contenedor-form {
    width: 300px;
    margin: 0 auto;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .color {
    color: #48de0d;
  }
  .volver-home {
    color: #007bff; /* Color azul para el texto */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-weight: bold; /* Texto en negrita */
    margin-right: 10px; /* Margen derecho de 10px */
  }
  
  .volver-home:hover {
    color: #0056b3; /* Color azul más oscuro al pasar el cursor */
  }
  